body {
    margin: 0;
    padding: 0;
    background: #02050a;
    color: #28f7d1;
    font-family: "Cairo", sans-serif;
    text-align: center;
}

.title {
    margin-top: 25px;
    font-size: 7vw; /* حجم كبير متجاوب */
    text-shadow: 0 0 14px #28f7d1;
}

.subtitle {
    font-size: 4vw;
    margin: 20px 10px 40px;
    text-shadow: 0 0 10px #19c7b0;
    line-height: 1.7;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 6vw;
    margin-top: 20px;
}

.time-box span {
    display: block;
    margin-top: 10px;
    font-size: 4vw;
}

.digit {
    display: flex;
    gap: 2vw;
}

.seven-seg {
    background: #0b1e22;
    width: 18vw;      /* أكبر ومتجاوب */
    height: 28vw;     /* أكبر ومتجاوب */
    font-size: 16vw;  /* الأرقام كبيرة وواضحة */
    font-weight: bold;
    color: #28f7d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vw;

    box-shadow:
        0 0 12px #28f7d1,
        inset 0 0 12px #28f7d1,
        0 0 35px #0ff;
}

/* كمبيوتر – تكبير إضافي */
@media (min-width: 700px) {
    .title { font-size: 40px; }
    .subtitle { font-size: 20px; }

    .seven-seg {
        width: 90px;
        height: 140px;
        font-size: 90px;
    }

    .time-box span {
        font-size: 22px;
    }
}
