body {
    margin: 0;
    padding: 0;
    background: #02050a;
    color: #28f7d1;
    font-family: "Cairo", sans-serif;
    text-align: center;
}

.title {
    margin-top: 30px;
    font-size: 32px;
    text-shadow: 0 0 10px #28f7d1;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    text-shadow: 0 0 8px #19c7b0;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.time-box {
    text-align: center;
}

.time-box span {
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

.digit {
    display: flex;
    gap: 10px;
}

.seven-seg {
    background: #0b1e22;
    width: 60px;
    height: 100px;
    font-size: 70px;
    font-weight: bold;
    color: #28f7d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    box-shadow:
        0 0 10px #28f7d1,
        inset 0 0 10px #28f7d1,
        0 0 30px #0ff;
}
